@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&display=swap');

:root {
  --dirty-white: #ececec;
  --sea-foam: #9fd3c7;
  --pearl-green: #d8ede8;
  --green: #307e6c;
  --dark-green: #224f45;
  --blue: #385170;
  --navy: #142d4c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'B612 Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dirty-white);
  color: var(--navy);
}
